
html {
    zoom: 75%;
    background-position: center;
   /* background-image: url(../images/bg.svg) !important;*/
    background-size: cover;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    html {
        zoom: 100%;
    }
}

body {
    /*  background-image: url(res/images/bg.svg);*/
    overflow-x: hidden;
    /*background: none;*/
    background-color: unset !important;
}

.container {
    width: 1105px;
}

.logo {
    height: 51px;
    width: 250px;
}

.logodes {

}

@media (max-width: 768px) {
    .logodes {
        display: none !important;
    }
}

.logo-div-mob {
    display: none !important;
}

@media (max-width: 768px) {
    .logo-div-mob {
        display: block !important;
    }
}

.logoMob {
    height: 37px;
    width: 36px;
}

.header {
    height: 85px;
    z-index: 1;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.21);
}

@media (max-width: 768px) {
    .header {
        height: unset;
    }
}

.header__menu {
    padding-top: 16px;
    display: -webkit-box;
}

.header__logo__text {
    margin-left: 22px;
}

.header__logo_ameal {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 68px;
}

.header__menu_ul {

    display: -webkit-box !important;
    list-style: none;
}

@media (max-width: 768px) {
    .header__menu_ul {
        display: flex !important;
        list-style: none;
    }
}

.header__li__1 {
    margin-left: 56px;
    margin-right: 69px;
}

@media (max-width: 768px) {
    .header__li__1 {
        margin-left: unset;
        margin-bottom: 10px;
        padding-left: 10px;
    }
}

.header__li__2 {
    margin-right: 69px;
}

@media (max-width: 768px) {
    .header__li__2 {
        margin-right: 69px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
}

.header__li__3 {
}

@media (max-width: 768px) {
    .header__li__3 {
        margin-bottom: 10px;
        padding-left: 10px;
    }
}

.header__menu_button {
    margin-left: 100px;
    box-sizing: border-box;
    height: 38px;
    width: 149px;
    border: 1px solid #424242 !important;
    border-radius: 41px !important;
    background-color: #F1E014 !important;
    color: #424242 !important;
    font-family: Nunito;
    font-size: 16px !important;
    font-weight: 900 !important;
    line-height: 22px !important;
    position: relative;
    z-index: 2;
}

@media (max-width: 768px) {
    .header__menu_button {
        margin-left: unset;
    }
}

.header__menu__a {
    color: #059220;
    font-family: Nunito;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.43px;
    line-height: 16px;
    text-align: center;
}

.header__center__li {
    margin-left: 69px;
    margin-right: 69px;
}

h1 {
    color: #424242;
    font-family: Nunito !important;
    font-size: 70px !important;
    font-weight: 900 !important;
    letter-spacing: 1px !important;
    line-height: 68px !important;
}

@media (max-width: 768px) {
    h1 {
        color: #424242;
        font-family: Nunito;
        font-size: 40px !important;
        font-weight: 900 !important;
        letter-spacing: 0.57px !important;
    }
}

.first {
    height: 700px;
    background: radial-gradient(circle, #049E21 0%, #068B1F 100%);
}

@media (max-width: 768px) {
    .first {
        height: 684px;

    }
}

.first__h1 {
    color: #fff;

}

@media (max-width: 768px) {
    .first__h1 {
        color: #fff;

        font-family: Nunito;
        font-size: 40px;
        font-weight: 900;
        letter-spacing: 1px;
        line-height: 41px;
    }
}

.first__p {
    margin-top: 18px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2.43px;
    line-height: 34px;
}

@media (max-width: 768px) {
    .first__p {
        margin-left: 20px;
        width: 380px;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
        width: 268px;
        line-height: 24px;
    }
}

.mobDispl {
}

@media (max-width: 768px) {
    .mobDispl {
        display: none;
    }
}

.first__h1__otstup {
    margin-top: 160px;
}

@media (max-width: 768px) {
    .first__h1__otstup {
        margin-top: 63px;
        margin-left: 20px;
        font-size: 40px !important;
        font-weight: 900 !important;
        letter-spacing: 1px !important;
        line-height: 41px !important;
    }
}

}

.pos-relative {
    position: relative;
}

.first__head-img {
    position: absolute;
    top: 25px;
    left: 43px;
    height: 638px;
    width: 386px;
    z-index: 2;
}

@media (max-width: 768px) {
    .first__head-img {
        left: unset;
        top: unset;
        z-index: 0;
        position: unset;
        width: 100%;
    }
}

.first__p__discmore {
    height: 22px;
    width: 167px;
    color: #FFFFFF;
    font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.9px;
    line-height: 22px;
    text-align: center;
    display: inline;
    margin-top: 13px;
    margin-right: 14.5px;
    text-decoration: none;
}

.first__div__discmore {
    text-align: center;
    margin-top: 192px;
}

@media (max-width: 768px) {
    .first__div__discmore {
        display: none;
    }
}

.first__clouds-div {
    position: relative;
}

.first__clouds-img {
    position: absolute;
    right: -100px;
    top: -256px;
    height: 350px;
    z-index: 1;
}

@media (max-width: 768px) {
    .first__clouds-img {
        top: -720px;
        z-index: -5;
        position: relative;
        right: 200px;
        width: 1400px;
        height: 500px;
    }
}

.footer {
    height: 242px;
    background-color: #343333;
}

@media (max-width: 768px) {
    .footer {
        height: auto;
    }
}

.menuLinkMob {
    display: none;
}

@media (max-width: 768px) {
    .menuLinkMob {
        display: block;
    }
}

.menuLinkMobNone {

}

@media (max-width: 768px) {
    .menuLinkMobNone {
        display: none;
    }
}

.footer__logo {
    margin-top: 63px;
    height: 97px;
    width: 304px;
}

.footer__email {
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.16px;
    line-height: 17px;
}

.footer__copyright {
    margin-top: 38px;
    text-align: center;
    opacity: 0.3;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.16px;
    line-height: 17px;
}

.footer__contacts__div {
    padding-left: 250px;

    margin-top: 63px;
}

@media (max-width: 768px) {
    .footer__contacts__div {
        padding-left: unset;
        text-align: center;
    }
}

.footer__img__fb {
    margin-left: 14px;
    margin-right: 14px;

}

.fourth {
    background: #ffffff94;
}

@media (max-width: 768px) {
    .fourth {
        display: none;
    }
}

.fourth__h1 {
    margin-top: 78px;
    text-align: center;
    line-height: 71px;
    color: #424242;
}

.fourth__partners__block {
    padding-top: 77px;
    margin-bottom: 155px;
    display: inline-flex;
}

.fourth__partner__block {
    height: 232px;
    width: 345px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 67px 0 rgba(0, 0, 0, 0.11);
}

@media (max-width: 768px) {
    .fourth__partner__block {
        padding-top: 30px;
        height: 166px;
        width: 232px;
    }
}

.fourth__partner__block_2 {
    margin-right: 35px;
    margin-left: 35px;
}

@media (max-width: 768px) {
    .fourth__partner__block_2 {
        margin-right: unset;
        margin-left: unset;
    }
}

.fourth__partner1__logo {

    margin-top: 52px;
}

@media (max-width: 768px) {
    .fourth__partner1__logo {
        margin-top: unset;
        width: 70% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

.fourth__partner2__logo {

    margin-top: 52px;
}

@media (max-width: 768px) {
    .fourth__partner2__logo {
        margin-top: unset;
        width: 70% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

.fourth__partner3__logo {

    margin-top: 52px;
}

@media (max-width: 768px) {
    .fourth__partner3__logo {
        margin-top: unset;
        width: 70% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

.fifth {
    margin-bottom: -10px;
}

@media (max-width: 768px) {
    .fifth {
        display: none;
    }
}

.fifth__h1 {
    margin-top: 89px;
    text-align: center;
    line-height: 71px;
    margin-bottom: 30px;
    color: #424242;
}

.fifth__green__block {
    height: 385px;
    width: 256px;
    border-radius: 4px;
    background: radial-gradient(circle, #049E21 0%, #068B1F 100%);
    box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.28);
}

@media (max-width: 768px) {
    .fifth__green__block {
        height: 356px;
        width: 236px;
        padding-top: 1px;
    }
}

.fifth__green__block__2 {
    margin-top: 23px;
}

.fifth__green__block__3 {
    margin-top: 46px;
}

.fifth__alex {
    margin-left: 13px;
    margin-top: 19px;
}

.fifth__sheka {
    margin-left: 13px;
    margin-top: 19px;
}

.fifth__timon {
    margin-left: 13px;
    margin-top: 15px;
}

.fifth__dimon {
    margin-left: 14px;
    margin-top: 19px;
}

.pt-btm-155 {
    padding-bottom: 155px;
}

.fifth__names__div {
    text-align: center;
    padding-top: 15px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.16px;
    color: #fff;
}

.fifth__name {
    margin-bottom: 0px;
}

.sixth {
    background: radial-gradient(circle, #049E21 0%, #068B1F 100%);
}

.color_white {
    color: #fff;
}

.sixth__p-dropaline {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.94px;
    line-height: 34px;
}

@media (max-width: 768px) {
    .sixth__p-dropaline {
        font-size: 15px;
    }
}

.text-al-cent {
    text-align: center;
}

.mg-top-78 {
    margin-top: 78px;
}

.sixth__form__input {
    height: 53px;
    width: 440px;
    color: #424242;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.75px;
    line-height: 34px;
    border: 2px solid #FFFFFF;
    padding-left: 15px;
    border: none;
    border-radius: 23px;
    background-color: rgba(255, 255, 255, 0.67);
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .sixth__form__input {
        width: 100%;
        height: 49px;
    }
}

.sixth__form__textarea {
    height: 157px;
    width: 440px;
    color: #424242;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.75px;
    line-height: 34px;
    border: 2px solid #FFFFFF;
    padding-left: 15px;
    border: none;
    border-radius: 23px;
    background-color: rgba(255, 255, 255, 0.67);
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .sixth__form__textarea {
        width: 100%;
    }
}

.sixth__form__input:focus {
    border-radius: 23px;
}

.mg-btm-28 {
    margin-bottom: 28px;
}

.mg-btm-68 {
    margin-bottom: 68.5px;
}

.mg-top-75 {
    margin-top: 75px;
}

@media (max-width: 768px) {
    .mg-top-75 {
        margin-top: 55px;
    }
}

.sixth__form__btn {
    box-sizing: border-box;
    height: 59px;
    width: 441px;
    border: 1px solid #424242 !important;
    border-radius: 29px !important;
    background-color: #F1E014 !important;
    color: #424242 !important;
    font-family: Nunito;
    font-size: 20px !important;
    font-weight: bold !important;
    letter-spacing: 1.9px;
    line-height: 22px !important;
}

@media (max-width: 768px) {
    .sixth__form__btn {
        width: 100%;
        height: 49px
    }
}

.pos-rel {
    position: relative;
}

.sixth__img {
    position: absolute;
    bottom: -160px;
}

@media (max-width: 768px) {
    .sixth__img {
        display: none;
    }
}

.sixth__clouds-img {
    position: absolute;
    right: -300px;
    top: -260px;

}

.third_mob {
    background: radial-gradient(circle, #049E21 0%, #068B1F 100%);
    display: none;
}

@media (max-width: 768px) {
    .third_mob {
        display: block;
    }
}

.fourth_mob {
    background: #fff;
    display: none;
}

@media (max-width: 768px) {
    .fourth_mob {
        display: block;
    }
}

.third {
    background: radial-gradient(circle, #049E21 0%, #068B1F 100%);
    padding-bottom: 199px;
    /*height: 750px;*/
}

@media (max-width: 768px) {
    .third {
        display: none;
    }
}

.third__h1 {
    color: #FFFFFF;
    margin-top: 78px;
    text-align: center;
    line-height: 71px;
}

.third-oval-copy-4 {
    height: 180px;
    width: 180px;
    padding-left: 38px;
    padding-top: 38px;
    background-color: #82ca8f;
    border-radius: 50%;
    display: -webkit-inline-box;
}

@media (max-width: 768px) {
    .third-oval-copy-4 {
        background-color: #FFF;
        height: unset;
    }
}

.oval {
    height: 104px;
    width: 104px;
    padding-left: 34px;
    padding-top: 23px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

@media (max-width: 768px) {
    .oval {
        box-shadow: 0 0 20px 3px rgba(120, 120, 120, 0.5);
    }
}

.num {
    height: 61px;
    width: 37px;
    color: #059420;
    font-family: Nunito;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 0.69px;
    line-height: 61px;
    text-align: center;
}

.mg-btm-125 {
    margin-bottom: 125px;
}

.hoose-a-dish-from-l {
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.94px;
    line-height: 34px;
    text-align: center;
    margin-top: 32px;
}

.third__video {
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: inherit;
}

.second__slide__block {
    height: 662px;
    width: 1105px !important;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 67px 0 rgba(0, 0, 0, 0.11);
    margin-top: 70px;
    margin-bottom: 60px;

}

.mg-top-61 {
    margin-top: 61px;
}

.mg-top-70 {
    margin-top: 80px;
}

.pd-left-60 {
    padding-left: 60px;
}

.second__slide__p {
    color: #424242;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.75px;
    line-height: 34px;
}

.mg-top-40px {
    margin-top: 40px;
}

.mg-top-100px {
    margin-top: 100px;
}

.second__div__discmore {
    text-align: center;
    position: relative;
    bottom: 30px;
}

.third__div__discmore {
    text-align: center;
    position: relative;
}

.second__p__discmore {
    color: #059220;
    font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.9px;
    line-height: 22px;
    display: inline;
    margin-right: 13px;
    margin-top: 13px;
}

.mg-btm--10 {
    margin-bottom: -10px;
}

.second__slide2__h1 {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 78px;
}

@media (max-width: 768px) {
    .second__slide2__h1 {
        line-height: 41px !important;
        padding-left: 15%;
        padding-right: 15%;

    }
}

.h1mob {
}

@media (max-width: 768px) {
    .h1mob {
        line-height: 41px !important;
        text-align: center;
        margin-top: 38px !important;
    }
}

.p_second_mob {
}

@media (max-width: 768px) {
    .p_second_mob {
        padding-left: 5% !important;
        padding-right: 5%;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 1.46px;
        line-height: 28px;
    }
}

.second__slide2__p {
    color: #424242;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.75px;
    line-height: 34px;
    text-align: center;
    margin-top: 24px;
}

.second__sclide2__block {
    display: -webkit-inline-box;
    height: 210px;
    width: 250px;
    border-radius: 7px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
    position: relative;
    z-index: 2;
}

.second__slide2__img1 {
    margin-left: 69px;
    margin-top: 0px;
    width: unset !important;
}

.second__slide2__img2 {
    margin-left: 93px;
    margin-top: 0px;
    width: unset !important;
}

.second__slide2__img3 {
    margin-left: 67px;
    margin-top: 0px;
    width: unset !important;
}

.txt-al-left {
    text-align: left;
}

@media (max-width: 768px) {
    .txt-al-left {
        text-align: center;
    }
}

.txt-al-right {
    text-align: right;
}

@media (max-width: 768px) {
    .txt-al-right {
        text-align: center;
    }
}

.pd-right-60 {
    padding-right: 60px;
}

@media (max-width: 768px) {
    .pd-right-60 {
        padding-right: unset;
    }
}

.pd-left-60 {
    padding-left: 60px;
}

@media (max-width: 768px) {
    .pd-left-60 {
        padding-left: unset;
    }
}

.second__div__discmore__slide2 {
    text-align: right;
    margin-right: 90px;
    bottom: 90px;
    padding-top: 30px;

}

ul.no_bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 56px;
}

li.plus {
    background: url('../images/icon_plus.svg') no-repeat left top;
    height: 54px;
    padding-left: 55px;
    padding-top: 5px;
}

.second__li__p {
    color: #424242;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.94px;
    line-height: 22px;
}

.pd-left-90 {
    padding-left: 90px;
}

.second__slide3__discmore {
    text-align: center;
    padding-right: 120px;
}

.second__slide4_p1 {
    text-align: center;
    padding-left: 100px;
}

.second__slide4_p3 {
    text-align: center;
    padding-right: 90px;
}

.second__oval {
    background-image: url(../images/Oval.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.button {
    box-sizing: border-box;
    height: 38px;
    width: 149px;
    border: 1px solid #424242;
    border-radius: 41px;
    background-color: #f1e014;
    position: relative;
    top: 4px;
    right: 145px;
    z-index: 1;
}

.pd_left_right-unset {
    padding-left: unset;
    padding-right: unset;
}

.btnhov {
    transition: transform 0.4s;
}

.btnhov:focus {
    box-shadow: none !important;
}

.btnhov:hover {
    height: 38px;
    width: 149px;
    position: relative;
    z-index: 2;
    border: none;
    background-color: #f1e014 !important;
    border: 1px solid #424242 !important;
    /* animation: headerbtn .4s 1 forwards;*/
}

@keyframes headerbtn {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: 3px;
        top: 4px;
    }
}

.btnhov-mob {
    transition: transform 0.4s;
}

.btnhov-mob:focus {
    box-shadow: none !important;
}

.btnhov-mob:hover {
    height: 25px;
    width: 90px;
    position: relative;
    z-index: 2;
    border: none;
    background-color: #f1e014 !important;
    border: 1px solid #424242 !important;
    animation: headerbtn .3s 1 forwards;
}

@keyframes headerbtn {
    from {
        left: 5px;
        top: 9px;
    }
    to {
        left: 7px;
        top: 12px;
    }
}

.first__right_btn {
    background-color: #f1e014;
    height: 46px;
    width: 46px;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: right;

}

.first__icon__right {
    width: 70%;
    margin-top: 7px;
    margin-right: -4px;

}

.first__btn {
    display: flex;
    position: relative;
    z-index: 1000;
    transition: .8s;
}

.first__btn__text_hov {
    height: 22px;
    width: 167px;
    font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.9px;
    line-height: 22px;
    text-align: center;
    display: inline;
    margin-top: 13px;
    margin-right: 14.5px;
    position: relative;
    z-index: 102;
    color: #FFFFFF;
    /*  animation: color .8s 1 forwards;*/

}

.first_slide_btn__text_hov {
    height: 22px;
    color: #059220;
    font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.9px;
    line-height: 22px;
    text-align: center;
    display: inline;
    margin-top: 13px;
    margin-right: 13px;
    position: relative;
    z-index: 102;
    /* animation: color2 .8s 1 forwards;*/

}

.second_slide_btn__text_hov {
    height: 22px;
    color: #059220;
    font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.9px;
    line-height: 22px;
    text-align: center;
    display: inline;
    margin-top: 13px;
    margin-right: 13px;
    position: relative;
    z-index: 102;
    /* animation: color2 .8s 1 forwards;*/

}

@keyframes color2 {
    from {
        color: #059220;
    }

    to {
        color: #000;
    }
}

@keyframes color {
    from {
        color: #fff;
    }

    to {
        color: #000;
    }
}

@keyframes color3 {
    from {
        color: #000;
    }

    to {
        color: #fff;
    }
}

@keyframes color4 {
    from {
        color: #000;
    }

    to {
        color: #059220;
    }
}

.first__btn__block_hov {
    background-color: #f1e014;
    height: 46px;
    border: 1px solid #000;
    border-radius: 30px;
    text-align: right;
    position: relative;
    z-index: 101;
    /* right: 200px;*/
    /* animation: btn1anim .8s 1 forwards;*/
}

.first__btn__block_hovout {
    animation: btn1anim2 .8s 1 forwards;
}

.first__btn__text_hovout {
    animation: color3 .8s 1 forwards;
}

.second__btn__block_hovout {
    animation: btn2anim2 .8s 1 forwards !important;
}

.second__btn__text_hovout {
    animation: color4 .8s 1 forwards;
}

.third__btn__block_hovout {
    animation: btn3anim2 .8s 1 forwards !important;
}

.third__btn__text_hovout {
    animation: color4 .8s 1 forwards;
}

.fifth__btn__block_hov {
    border-radius: 30px;
    position: relative;
    /* animation: btn5anim .8s 1 forwards;*/
}

.fifth__btn__block_hovout {
    border-radius: 30px;
    position: relative;
    /*  animation: btn5anim2 .8s 1 forwards !important;*/
}

.first_slide_btn__block_hov {
    background-color: #f1e014;
    height: 46px;
    border: 1px solid #000;
    border-radius: 30px;
    text-align: right;
    position: relative;
    z-index: 101;
    /* right: 200px;*/
    /*animation: btn2anim .8s 1 forwards;*/
}

.second_slide_btn__block_hov {
    background-color: #f1e014;
    height: 46px;
    border: 1px solid #000;
    border-radius: 30px;
    text-align: right;
    position: relative;
    z-index: 101;
    /*   right: 200px;*/
    /* animation: btn3anim .8s 1 forwards;*/
}

@keyframes btn3anim {
    from {
        width: 46px;
        right: 0;
    }
    to {
        width: 336px;
        right: 290px;
    }
}

@keyframes btn3anim2 {
    from {
        width: 336px;
        right: 290px;
    }
    to {
        width: 46px;
        right: 0;
    }
}

@keyframes btn2anim {
    from {
        width: 46px;
        right: 0;
    }
    to {
        width: 276px;
        right: 230px;
    }
}

@keyframes btn5anim {
    from {
        width: 46px;
        right: 0;
    }
    to {
        width: 236px;
        right: 190px;
    }
}

@keyframes btn1anim {
    from {
        width: 46px;
        right: 0;
    }
    to {
        width: 246px;
        right: 200px;
    }
}

@keyframes btn1anim2 {
    from {
        width: 246px;
        right: 0;
    }
    to {
        width: 46px;
        right: 200px;
    }
}

@keyframes btn2anim2 {
    from {
        width: 276px;
        right: 230px;
    }
    to {
        width: 46px;
        right: 0px;
    }
}

@keyframes btn5anim2 {
    from {
        width: 236px;
        right: 190px;
    }
    to {
        width: 46px;
        right: 0px;
    }
}

.first__btn__block_hov-2 {
    background-color: #f1e014;
    height: 46px;
    border: 1px solid #000;
    border-radius: 30px;
    text-align: right;
    position: relative;
    z-index: 101;
    /* right: 200px;*/
    animation: btn1anim .8s 1 reverse;
}

@keyframes btn1anim2 {
    from {
        width: 246px;
        right: 200px;
    }
    to {
        width: 46px;
        right: 0;
    }
}

.first__btn__img_hov {
    width: 30px;
    margin-top: 8px;
    margin-right: 5px;
}

.first__btn_block {
    text-align: center;
    display: flex;
    padding-left: 40%;
    margin-top: 192px;
}

.third__hr {
    border-top: 4px dashed #fff;
    width: 142px;
    position: absolute;
    background-color: transparent;
    top: 70px;
    right: -70px;
}

@media (max-width: 768px) {
    .third__hr {
        border-top: 2px dashed #fff;
        width: 142px;
        position: relative;
        background-color: #42363600;
        transform: rotate(90deg);
        left: 135px;
    }
}

input[type=text]:focus {
    border: 2px solid #fff;
    border-radius: 23px;
    outline: none;
}

input[type=email]:focus {
    border: 2px solid #fff;
    border-radius: 23px;
    outline: none;
}

textarea[type=text]:focus {
    border: 2px solid #fff;
    border-radius: 23px;
    outline: none;
}

.carousel-indicators li {
    position: relative !important;
    border-radius: 10px;
    -ms-flex: 0 1 auto !important;
    flex: 0 1 auto !important;
    width: 13px !important;
    height: 13px !important;
    margin-right: 3px !important;
    margin-left: 3px !important;
    text-indent: -999px !important;
    cursor: pointer !important;
    box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.5) !important;
    background-color: rgba(255, 255, 255, .5) !important;
}

.carousel-indicators .active {
    background-color: #37ab41 !important;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 2px;
    height: 2px;
}

.horizontal-scroll-wrapper {
    /* margin: 0; */
    height: 1900px;
    /* padding-right: 0px; */
    overflow-y: auto;
    overflow-x: initial;
    transform: rotate(-90deg);
    /* width: 100px; */
    /* max-width: 800px; */
}

.horizontal-scroll-wrapper > div {
    display: block;
    transform: rotate(90deg);
    margin-right: 0px;
    margin-top: 600px;
}

.img-overlay {
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.3);
}

.green_blur_left {
    text-align: center;
    position: absolute;
    left: 30px;
    top: -120px;
    width: 110%;
    z-index: 1;
    opacity: .7 !important;
}

@media (max-width: 768px) {
    .green_blur_left {
        text-align: center;
        position: absolute;
        left: -31px;
        width: 110%;
        z-index: 1;
        bottom: -100px;
    }
}

.green_blur_right {
    text-align: center;
    position: absolute;
    right: 30px;
    top: -120px;
    width: 110%;
    z-index: 1;
    opacity: .7 !important;
}

@media (max-width: 768px) {
    .green_blur_right {
        text-align: center;
        position: absolute;
        top: -120px;
        width: 110%;
        z-index: 1;
        left: -10px;
    }
}

.green_blur_center {
    text-align: center;
    position: absolute;
    top: -120px;
    width: 110%;
    z-index: 1;
    left: -10px;
    opacity: .7 !important;
}

@media (max-width: 768px) {
    .green_blur_center {
        text-align: center;
        position: absolute;
        top: -100px;
        width: 110%;
        z-index: 1;
        left: -20px;
    }
}

.header__btn_div_des {
    display: flex;
    padding-left: 100px;
}

@media (max-width: 768px) {
    .header__btn_div_des {
        display: none;
    }
}

.header__btn_div_mob {
    display: none;
}

@media (max-width: 768px) {
    .header__btn_div_mob {
        display: block;
    }
}

.navbar-light .navbar-toggler-icon {
    background-size: 50px 50px;
    background-image: url(../images/mob-menu.png) !important;
}

.navbar-light .navbar-toggler {
    border-color: #fff !important;
}

.second {

}

@media (max-width: 768px) {
    .second {
        display: none !important;
    }
}

.second_mob {
    display: none;
    background-color: #FFFFFF;
    position: relative;
}

@media (max-width: 768px) {
    .second_mob {
        display: block;
    }
}

.link {

}

.link:hover {
    color: #f1e014;
    text-decoration: none;
}

.first_slide_div_btn {
    text-align: center;
    display: flex;
    padding-left: 400px;
}

.second_slide_div_btn {
    display: flex;
}

.carousel_otstup_po_bokam {
    padding-left: 20%;
    padding-right: 20%;
}

.color42 {
    color: #424242;
}

/*menu burger btn*/
.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: #F1E014;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/*menu burger btn*/

.logoTextMob {
    font-family: Nunito;
    color: #424242;
    font-size: 21px;
    font-weight: 800;
}

.header__menu_button-mob {
    left: 5px;
    top: 9px;
    line-height: 1 !important;
    font-size: 13px !important;
    height: 25px;
    width: 90px;

    box-sizing: border-box;

    border: 1px solid #424242 !important;
    border-radius: 41px !important;
    background-color: #F1E014 !important;
    color: #424242 !important;
    font-family: Nunito;

    font-weight: 900 !important;
    position: relative;
    z-index: 2;
}

.button-mob {
    left: 7px;
    top: -13px;
    height: 25px;
    width: 90px;
    box-sizing: border-box;
    border: 1px solid #424242;
    border-radius: 41px;
    background-color: #f1e014;
    position: relative;
    z-index: 1;
}

.contacts_mob_menu {
    display: none;
}

@media (max-width: 768px) {
    .contacts_mob_menu {
        display: -webkit-inline-box;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
        padding-bottom: 20px;
    }
}

.linkEmailMenu {
    color: #3D3D3D;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.16px;
    line-height: 17px;
}

.span-menu {
    border: 1px solid black;
    height: 5px !important;
    border-radius: 30% !important;
}

.first-downbtn-div {
    display: none;
    width: 42px;
    height: 42px;
    background-color: #F1E014;
    border: 1px solid #424242;
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 3;
    top: -15px;
}

@media (max-width: 768px) {
    .first-downbtn-div {
        display: block;
    }
}

.first-downbtn {
    height: 25px;
    width: 25px;
}

.dotted-hr {
    width: 462px;
    position: relative;
    border: 3px dotted #059420;
    opacity: 0.1;
    top: 280px;
    right: 45px;

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);
}

.fourthPartnersMob {
    display: none;
    background-color: #FFFFFF;
}

@media (max-width: 768px) {
    .fourthPartnersMob {
        display: block;
    }
}

.fifthMob {
    display: none;
    background-color: #FFFFFF;
}

@media (max-width: 768px) {
    .fifthMob {
        display: block;
    }
}

.img-oval-mob-1 {
    position: absolute;
    width: 150%;
    right: -80px;
    bottom: 650px;
    opacity: 0.5;
}

.img-oval-mob-2 {
    position: absolute;
    width: 150%;
    right: -80px;
    bottom: 150px;
    opacity: 0.5;
}

.fourth__slide2__img2 {
    margin-left: 67px;
    width: unset !important;
}

.fourth__slide2__img3 {
    margin-left: 80px;
    width: unset !important;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotating 15s linear infinite;
}

.slide3 {
    width: 900px;
    background-image: url(../images/cloud_3.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain
}

.slide2 {
    width: 900px;
    background-image: url(../images/cloud_2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain

}

.slide1 {
    width: 900px;
    background-image: url(../images/cloud_2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain
}
.ovalImg{
    position: relative;
    bottom: 700px;
    width: 75% !important;
    left: 120px;
}