
<html lang="en" id="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ameal</title>

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="res/styles/style.css">
    <link rel="stylesheet" href="res/styles/slider.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script>
        var screenW = window.screen.availWidth;
        console.log(screenW)

        function checkZ(param) {
            switch (true) {
                case (param >= 2220):
                    var elem = document.getElementById('html')
                    elem.setAttribute("style", "zoom:130%")
                    break;
                case (param >= 1920):
                    var elem2 = document.getElementById('html')
                    elem2.setAttribute("style", "zoom:105%")
                    break;
                case (param >= 1720):
                    var elem3 = document.getElementById('html')
                    elem3.setAttribute("style", "zoom:95%")
                    break;
                default:
                    return null;
            }
        }

        checkZ(screenW);
    </script>
</head>
<body>


<!--================================================================================================================================================-->

<header class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light amber lighten-4  pd_left_right-unset"
             style="background-color: #fff;padding-left: unset;">


            <a class="navbar-brand logodes" href="/"> <img src="res/images/logo.svg" class="logo"></a>


            <div class="logo-div-mob navbar-brand">
                <a class="" href="/"> <img src="res/images/logo.png" class="logoMob"></a>
                <span class="logoTextMob">Ameal</span>
            </div>

            <div class="header__btn_div_mob">
                <a href="#contacts" id="headerbtn2" class="btn btn-warning btnhov-mob header__menu_button-mob">Contact
                    us</a>
                <div class="button-mob"></div>
            </div>

            <button style="outline: 0 !important;padding-top: 0px;" class="navbar-toggler first-button" type="button"
                    data-toggle="collapse"
                    data-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <div class="animated-icon1"><span class="span-menu"></span><span class="span-menu"></span><span
                            class="span-menu"></span></div>
            </button>

            <div class="collapse navbar-collapse nav-mob" id="navbarToggler">
                <hr>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 header__menu_ul">
                    <li class="nav-item header__li__1 menuLinkMob">
                        <a href="#case" id="caseID" class="header__menu__a link ">CASE OF USE</a>
                    </li>
                    <li class="nav-item header__li__1 menuLinkMob">
                        <a href="#advan" id="advanID" class="header__menu__a link">RESTAURANT ADVANTAGES</a>
                    </li>
                    <li class="nav-item header__li__2 menuLinkMob">
                        <a href="#integr" id="integrID" class="header__menu__a link">INTEGRATION</a>
                    </li>


                    <li class="nav-item header__li__1 menuLinkMobNone">
                        <a href="#more" id="menu1" data-slide="3" class="header__menu__a link">RESTAURANT ADVANTAGES</a>
                    </li>
                    <li class="nav-item header__li__2 menuLinkMobNone">
                        <a href="#more" id="menu2" data-slide="4" class="header__menu__a link">INTEGRATION</a>
                    </li>
                    <li class="nav-item header__li__3 menuLinkMobNone">
                        <a href="#partners" class="header__menu__a link">PARTNERS</a>
                    </li>
                </ul>

                <div class="contacts_mob_menu">
                    <img src="res/images/skype.png">
                    <img src="res/images/512px-Telegram_logo.svg.png" style="margin-left: 20px;">
                    <p style="margin-left: 100px"><a class="linkEmailMenu"
                                                     href="mailto:hello@ameal.me">hello@ameal.me</a></p>
                </div>
            </div>

            <div class="header__btn_div_des ">
                <a href="#contacts" id="headerbtn" class="btn btn-warning btnhov header__menu_button">Contact us</a>
                <div class="button"></div>
            </div>
        </nav>
    </div>
</header>

<!--================================================================================================================================================-->

<section class="first">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="first__h1__otstup first__h1">AR menu<br>
                    in your restaurant</h1>
                <p class="first__p">
                    Complements the reality of your diet
                </p>
            </div>
            <div class="col-md-5 pos-relative">
                <img src="res/images/head_img.svg" class="first__head-img">
            </div>
            <div class="col-md-12 mobDispl">
                <div class="first__btn_block">
                    <a id="first_btn1" href="#more" data-slide="1" style="text-decoration: none;">
                        <div class="first__btn">
                            <p id="first_btn_text" class="first__p__discmore">DISCOVER MORE</p>
                            <div id="first_btn_block" class="first__right_btn">
                                <img id="first_btn_img" src="res/images/icons8-expand-arrow-filled-50.png" class="first__btn__img_hov" style="margin-right: 7px;
    margin-top: 9px;">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="first__clouds-div">
        <img class="first__clouds-img" src="res/images/clouds1.png">
    </div>
</section>

<!--================================================================================================================================================-->
<section id="more" class="second center slider" style="width: 100%;">
    <div>
        <div class="second__slide__block slide1">
            <div class="row mg-top-61">
                <div class="col-md-7 ">
                    <div class="mg-top-70" style="padding-left: 80px;">
                        <h1 class="color42">As in reality</h1>
                        <p class="second__slide__p mg-top-40px">
                            Augmented reality is the ability to insert
                            overlay digital
                            and virtual information in real world.
                        </p>
                        <p class="second__slide__p mg-top-40px">
                            Ameal is a service that make the content of the menu
                            more understandable and accessible to your customers
                            by displaying dishes in augmented reality.
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="mg-top-61 text-al-cent">
                        <video autoplay loop muted width="254" height="511">
                            <source src="res/video/mp4/ameal_slide1.mp4"
                                    type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                        </video>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="first_slide_div_btn">
                        <div id="second_btn1" class="first__btn second__div__discmore">
                            <p id="second_btn_text" class="second__p__discmore">WHERE I CAN USE IT?</p>
                            <div id="second_btn_block" class="first__right_btn">
                                <img id="second_btn_img" src="res/images/icon-right.png"
                                     class="first__btn__img_hov" style="float: right;width: 30px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="second__slide__block slide2">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="second__slide2__h1 color42">You can use Ameal with:</h1>
                </div>
                <div class="col-md-4 txt-al-right">
                    <img src="res/images/green_blur.png" class="green_blur_left">
                    <div class="second__sclide2__block">
                        <img src="res/images/browser.svg" class="second__slide2__img1">
                    </div>
                    <p class="second__slide2__p txt-al-right pd-right-60">Web browser</p>
                </div>
                <div class="col-md-4 text-al-cent">
                    <img src="res/images/green_blur.png" class="green_blur_center">
                    <div class="second__sclide2__block">
                        <img src="res/images/APP.svg" class="second__slide2__img2">
                    </div>
                    <p class="second__slide2__p">Mobile App</p>
                </div>
                <div class="col-md-4 txt-al-left">
                    <img src="res/images/green_blur.png" class="green_blur_right">
                    <div class="second__sclide2__block">
                        <img src="res/images/SM.svg" class="second__slide2__img3">
                    </div>
                    <p class="second__slide2__p txt-al-left pd-left-60">Social media</p>
                </div>
                <div class="col-md-12">

                    <div class="second_slide_div_btn second__div__discmore__slide2">
                        <div id="third_btn1" class="first__btn third__div__discmore"
                             style="width: 160%; margin-left: 400px;">
                            <p id="third_btn_text" class="second__p__discmore">RESTAURANT ADVANTAGES</p>
                            <div id="third_btn_block" class="first__right_btn">
                                <img id="third_btn_img" src="res/images/icon-right.png"
                                     class="first__btn__img_hov" style="float: right;width: 30px;">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="second__slide__block slide3">
            <div class="row mg-top-61">
                <div class="col-md-6 ">
                    <div class="mg-top-70 pd-left-90">
                        <h1 class="color42">Restaurant <br>advantages</h1>
                        <ul class="no_bullet">
                            <li class="plus"><p class="second__li__p">Increase your sales</p></li>
                            <li class="plus"><p class="second__li__p">+100 customer happiness</p></li>
                            <li class="plus"><p class="second__li__p">Innovative menu explanation</p></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mg-top-100px text-al-cent">
                        <img src="res/images/img_2.png" style="height: 442px;width: 456px;">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="first_slide_div_btn">

                        <div id="fourth_btn1" class="first__btn ">
                            <p id="fourth_btn_text" class="second__p__discmore">HOW INTEGRATE IT?</p>
                            <div id="fourth_btn_block" class="first__right_btn">
                                <img id="fourth_btn_img" src="res/images/icon-right.png"
                                     class="first__btn__img_hov" style="float: right;width: 30px;">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div style="width: 900px;    overflow: hidden;" class="second__slide__block second__ovl ">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="second__slide2__h1 color42" style="margin-bottom: 58px;">How you can integrate it?</h1>
                </div>
                <div class="col-md-4 txt-al-right">
                    <img src="res/images/green_blur.png" class="green_blur_left">
                    <div class="second__sclide2__block">
                        <img src="res/images/photo.svg" class="second__slide2__img1">
                    </div>

                    <p class="second__slide2__p  second__slide4_p1">Take pictures<br> of dishes</p>
                </div>
                <div class="col-md-4 text-al-cent">
                    <img src="res/images/green_blur.png" class="green_blur_center">
                    <div class="second__sclide2__block">
                        <img src="res/images/3dinteg.svg" class="fourth__slide2__img2">
                    </div>
                    <p class="second__slide2__p">Send it to our service to generate 3d models</p>
                </div>
                <div class="col-md-4 txt-al-left">
                    <img src="res/images/green_blur.png" class="green_blur_right">
                    <div class="second__sclide2__block">
                        <img src="res/images/AR.svg" class="fourth__slide2__img3">
                    </div>
                    <p class="second__slide2__p  second__slide4_p3">You receive an API to integrate it with your
                        web-site/app/social media </p>
                </div>
                <div class="col-md-12">
                    <div class="first_slide_div_btn"
                         style="position: relative;bottom: 50px; padding-left: unset;">

                        <div id="fifth_btn1" class="first__btn " style="margin-left: 470px;">
                            <p id="fifth_btn_text" class="second__p__discmore">AS IN REALITY</p>
                            <div id="fifth_btn_block" class="first__right_btn">
                                <img id="fifth_btn_img" src="res/images/icon-right.png"
                                     class="first__btn__img_hov" style="float: right;width: 30px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="res/images/Oval.svg" class="ovalImg rotating">
        </div>
    </div>
</section>

<!--================================================================================================================================================-->

<section class="second_mob">
    <a href="#down" id="btnDown">
        <div class="first-downbtn-div">
            <img src="res/images/icons8-expand-arrow-filled-50.png" class="first-downbtn">
        </div>
    </a>

    <div class="row ">
        <div class="col-md-12 ">
            <div class="mg-top-70 pd-left-60">
                <h1 class="text-al-cent" style="color: #424242;">As in reality</h1>
                <p class="second__slide__p mg-top-40px p_second_mob" style="padding-left: 10px;">
                    Augmented reality is the ability to insert
                    overlay digital
                    and virtual information in real world.
                </p>
                <p class="second__slide__p mg-top-40px p_second_mob" style="padding-left: 10px;">
                    Ameal is a service that make the content of the menu
                    more understandable and accessible to your customers
                    by displaying dishes in augmented reality.
                </p>
            </div>
        </div>
        <div class="col-md-12" id="down">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators" style="    bottom: -20px;">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="mg-top-61 text-al-cent">
                            <img src="res/gif/slide1.gif" width="254" height="511">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="mg-top-61 text-al-cent">
                            <img src="res/gif/slide2.gif" width="254" height="511">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" id="case">
            <h1 class="second__slide2__h1" style="color: #424242;">You can use Ameal with:</h1>
        </div>
        <div class="col-md-12 txt-al-right">
            <img src="res/images/green_blur.png" class="green_blur_left">
            <div class="second__sclide2__block">
                <img src="res/images/browser.svg" class="second__slide2__img1" style="margin-top: 50px;">
            </div>
            <p class="second__slide2__p txt-al-right pd-right-60" style="font-size: 15px;">Web browser</p>
        </div>
        <div class="col-md-12 text-al-cent" style="margin-top: 40px;">
            <img src="res/images/green_blur.png" class="green_blur_center">
            <div class="second__sclide2__block">
                <img src="res/images/APP.svg" class="second__slide2__img2" style="margin-top: 50px;">
            </div>
            <p class="second__slide2__p" style="font-size: 15px;">Mobile App</p>
        </div>
        <div class="col-md-12 txt-al-left" style="margin-top: 40px;">
            <img src="res/images/green_blur.png" class="green_blur_right">
            <div class="second__sclide2__block">
                <img src="res/images/SM.svg" class="second__slide2__img3" style="margin-top: 50px;">
            </div>
            <p class="second__slide2__p txt-al-left pd-left-60" style="font-size: 15px;">Social media</p>
        </div>

        <div class="col-md-12 " id="advan">
            <div class="mg-top-70" style="padding-left: 10px;">
                <h1 class="h1mob" style="color: #424242;">Restaurant advantages</h1>
                <ul class="no_bullet" style="padding-left: 20px">
                    <li class="plus"><p class="second__li__p" style="font-size: 15px;">Increase your sales</p></li>
                    <li class="plus"><p class="second__li__p" style="font-size: 15px;">+100 customer happiness</p></li>
                    <li class="plus"><p class="second__li__p" style="font-size: 15px;">Innovative menu explanation</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mg-top-100px text-al-cent">
                <img style="width: 90%;" src="res/images/img_2.png">
            </div>
        </div>

        <div class="col-md-12" id="integr">
            <h1 class="second__slide2__h1" style="color: #424242;">How you can integrate it?</h1>
        </div>
        <div class="col-md-12 txt-al-right">
            <img src="res/images/green_blur.png" class="green_blur_left">
            <div class="second__sclide2__block">
                <img src="res/images/photo.svg" class="second__slide2__img1" style="margin-top: 50px;">
            </div>

            <p class="second__slide2__p" style="font-size: 15px;">Take pictures of dishes</p>
        </div>
        <div class="col-md-12 text-al-cent" style="margin-top: 40px;">
            <img src="res/images/green_blur.png" class="green_blur_center">
            <div class="second__sclide2__block">
                <img src="res/images/3dinteg.svg" class="fourth__slide2__img2" style="margin-top: 50px;">
            </div>
            <p class="second__slide2__p" style="font-size: 15px; padding-left: 15%; padding-right: 15%;">Send it to our
                service to generate 3d models</p>
        </div>
        <div class="col-md-12 txt-al-left" style="margin-top: 40px;    margin-bottom: 40px;">
            <img src="res/images/green_blur.png" class="green_blur_right">
            <div class="second__sclide2__block">
                <img src="res/images/AR.svg" class="fourth__slide2__img3" style="margin-top: 50px;">
            </div>
            <p class="second__slide2__p  " style="font-size: 15px;padding-left: 15%; padding-right: 15%;">You receive an API to integrate it with your web-site/app/social media</p>
        </div>
    </div>
    <img src="res/images/Oval.svg" class="img-oval-mob-1">
    <img src="res/images/Oval.svg" class="img-oval-mob-2">
</section>

<!--================================================================================================================================================-->

<section class="third" id="thirdblock">
    <div>
        <video autoplay muted loop id="myVideo" class="third__video">
            <div class="img-overlay"></div>
            <source src="res/video/mp4/Ameal.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        </video>
        <script>
            var s = document.getElementById('thirdblock')
            s.setAttribute("style", "height: 757px");
        </script>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-bottom:10%;">
                <h1 class="third__h1">Restaurant<br>
                    customer experience</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4 text-al-cent">
                <div class="third-oval-copy-4">
                    <div class="oval">
                        <p class="num">1</p>
                    </div>
                </div>
                <p class="hoose-a-dish-from-l">Сhoose a dish from list </p>
            </div>
            <div class="pos-rel">
                <hr class="third__hr">
            </div>
            <div class="col-md-4 text-al-cent">
                <div class="third-oval-copy-4">
                    <div class="oval">
                        <p class="num">2</p>
                    </div>
                </div>
                <p class="hoose-a-dish-from-l">look it in AR</p>
            </div>
            <div class="pos-rel">
                <hr class="third__hr">
            </div>
            <div class="col-md-4 text-al-cent">
                <div class="third-oval-copy-4">
                    <div class="oval">
                        <p class="num">3</p>
                    </div>
                </div>
                <p class="hoose-a-dish-from-l">“I want it now!”</p>

            </div>
        </div>


    </div>
</section>

<!--================================================================================================================================================-->
<section class="third_mob" id="thirdblockMob">
    <div>
        <img src="res/gif/resAdvMob.gif" id="myVideoMob" class="third__video">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <h1 class="third__h1 h1mob" style="margin-top: 28px;">Restaurant<br>
                    customer experience</h1>
            </div>
        </div>
    </div>
</section>

<!--================================================================================================================================================-->
<section class="fourth_mob">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-al-cent">
                <div class="third-oval-copy-4">
                    <div class="oval">
                        <p class="num">1</p>
                    </div>
                </div>
                <p class="hoose-a-dish-from-l" style="color: #424242;font-size: 15px;">Сhoose a dish from list </p>
            </div>
            <div class="pos-rel">
                <hr class="third__hr">
            </div>
            <div class="col-md-12 text-al-cent">
                <div class="third-oval-copy-4">
                    <div class="oval">
                        <p class="num">2</p>
                    </div>
                </div>
                <p class="hoose-a-dish-from-l" style="color: #424242;font-size: 15px;">look it in AR</p>
            </div>
            <div class="pos-rel">
                <hr class="third__hr">
            </div>
            <div class="col-md-12 text-al-cent" style="margin-bottom: 40px;">
                <div class="third-oval-copy-4">
                    <div class="oval">
                        <p class="num">3</p>
                    </div>
                </div>
                <p class="hoose-a-dish-from-l" style="color: #424242;font-size: 15px;">“I want it now!”</p>
            </div>
        </div>
    </div>
</section>

<!--================================================================================================================================================-->

<section class="fourth" id="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="fourth__h1">Our partners and clients</h1>
            </div>
            <div class="col-md-12 fourth__partners__block">
                <div class="fourth__partner__block" style="text-align:center;">
                    <img src="res/images/lvbs_logo_basic.png" class="fourth__partner1__logo">
                </div>
                <div class="fourth__partner__block fourth__partner__block_2" style="text-align:center;">
                    <img src="res/images/green-13.jpg" class="fourth__partner2__logo">
                </div>
                <div class="fourth__partner__block" style="text-align:center;">
                    <img src="res/images/logo-antverpen.png" class="fourth__partner3__logo">
                </div>
            </div>
        </div>
    </div>
</section>

<!--================================================================================================================================================-->
<section class="fourthPartnersMob" id="partnersMob">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="fourth__h1"
                    style="line-height: 41px !important; padding-left: 10%; padding-right: 10%;    margin-top: 30px;">
                    Our
                    partners and clients</h1>
            </div>
        </div>
    </div>
    <div class="slider partners" style="width: 100%;">
        <div>
            <div class="fourth__partner__block">
                <img src="res/images/lvbs_logo_basic.png" class="fourth__partner1__logo" style="width: 60% !important;">
            </div>
        </div>
        <div>
            <div class="fourth__partner__block fourth__partner__block_2" style="    padding-top: 40px;">
                <img src="res/images/green-13.jpg" class="fourth__partner2__logo">
            </div>
        </div>
        <div>
            <div class="fourth__partner__block" style="    padding-top: 40px;">
                <img src="res/images/logo-antverpen.png" class="fourth__partner3__logo">
            </div>
        </div>
    </div>
</section>

<!--================================================================================================================================================-->

<section class="fifth"  style="display:none;">
    <div class="container">
        <div class="row pt-btm-155">
            <div class="col-md-12">
                <h1 class="fifth__h1"
                    style="text-shadow: 0px 2px 10px;">
                    Our team</h1>
            </div>
            <div class="col-md-3 ">
                <div class="fifth__green__block">
                    <img src="res/images/Alex.png" class="fifth__alex">
                    <div class="fifth__names__div">
                        <p class="fifth__name">Alexandr Gryshyn</p>
                        <p>CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="fifth__green__block fifth__green__block__2">
                    <img src="res/images/Yevhen.png" class="fifth__sheka">
                    <div class="fifth__names__div">
                        <p class="fifth__name">Yevhen Treiher</p>
                        <p>CDO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="fifth__green__block fifth__green__block__3">
                    <img src="res/images/timoshka.png" class="fifth__timon">
                    <div class="fifth__names__div">
                        <p class="fifth__name">Tim Melnyk</p>
                        <p>CMO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="fifth__green__block">
                    <img src="res/images/Dimon.png" class="fifth__dimon">
                    <div class="fifth__names__div">
                        <p class="fifth__name">Dmitry Nepliukhin</p>
                        <p>CTO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================================================================================================================================-->
<section class="fifthMob" style="display:none;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="fifth__h1"
                    style="line-height: 41px !important; padding-left: 10%; padding-right: 10%;  margin-bottom: unset; margin-top: 30px;">
                    Our team</h1>
            </div>
        </div>
    </div>
    <div class="slider team" style="width: 100%;">
        <div>
            <div class="fifth__green__block">
                <img src="res/images/Alex.png" class="fifth__alex" style="width: 90% !important;">
                <div class="fifth__names__div">
                    <p class="fifth__name">Alexandr Gryshyn</p>
                    <p>CEO</p>
                </div>
            </div>
        </div>

        <div>
            <div class="fifth__green__block ">
                <img src="res/images/Yevhen.png" class="fifth__sheka" style="width: 90% !important;">
                <div class="fifth__names__div">
                    <p class="fifth__name">Yevhen Treiher</p>
                    <p>CDO</p>
                </div>
            </div>
        </div>

        <div>
            <div class="fifth__green__block ">
                <img src="res/images/timoshka.png" class="fifth__timon" style="width: 90% !important;">
                <div class="fifth__names__div">
                    <p class="fifth__name">Tim Melnyk</p>
                    <p>CMO</p>
                </div>
            </div>
        </div>
        <div>
            <div class="fifth__green__block">
                <img src="res/images/Dimon.png" class="fifth__dimon" style="width: 90% !important;">
                <div class="fifth__names__div">
                    <p class="fifth__name">Dmitry Nepliukhin</p>
                    <p>CTO</p>
                </div>
            </div>
        </div>

    </div>

</section>
<!--================================================================================================================================================-->

<section class="sixth mg-btm--10" id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-al-cent color_white mg-top-78">
                <h1>Drop us a line</h1>
                <p class="sixth__p-dropaline">We´ll contact you ASAP</p>
            </div>
            <div class="col-md-6 mobDispl">
                <img src="res/images/img_3.png" class="sixth__img">
            </div>
            <div class=" col-md-6 ">

                <form class="mg-top-75 mg-btm-68" method="POST" action="send">
                    <input type="email" name="email" class="sixth__form__input mg-btm-28" placeholder="Your email"
                           required>
                    <input type="text" name="subject" class="sixth__form__input " placeholder="Subject" required>

                    <textarea name="message" type="text" class="sixth__form__textarea"
                              style="position: relative; z-index: 1111111;" placeholder="Message" rows="3"
                              required></textarea>
                    <button type="submit" class="btn  btn-warning sixth__form__btn"
                            style="position: relative; z-index: 1111111;">Contact us
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="pos-rel">
        <img class="sixth__clouds-img" src="res/images/clouds1.png">
    </div>
</section>

<!--================================================================================================================================================-->

<footer class="footer pos-rel">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <img src="res/images/logo_footer.svg" class="footer__logo">
            </div>
            <div class="col-md-6">
                <div class="footer__contacts__div">
                    <p><a class="footer__email link" href="mailto:hello@ameal.me">hello@ameal.me</a></p>

                    <a href="https://www.instagram.com/ameal.me/"><img src="res/images/inst.svg"></a>
                    <a href="https://www.facebook.com/A-Meal-1969188173374319/"><img src="res/images/fb.svg"
                                                                                     class="footer__img__fb"></a>
                    <a href="https://sketchfab.com/ameal"><img src="res/images/3d.svg"></a>
                </div>
            </div>
            <div class="col-md-12">
                <p class="footer__copyright">Ameal 2018 (c)</p>
            </div>
        </div>
    </div>
</footer>

<!--================================================================================================================================================-->


<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="res/js/app.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="res/js/slider.js"></script>

</body>
</html>
